body {
    font-family: 'times new roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
}

header {
    background-color: #b63030;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #eee;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: #333;
}

section {
    margin: 2em;
}

footer {
    background-color: Orange;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}  